#Message {
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--Background);
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 0px rgb(58 57 57 / 9%);
  visibility: hidden;

  &.show {
    visibility: visible;
    animation: slide-top-X 0.3s, slide-bottom 0.2s linear 1.4s;
  }
}
