.slide-top {
  animation: slide-top 0.2s linear both;
}
@keyframes slide-top {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(25%);
  }
}

@keyframes slide-top-X {
  0% {
    transform: translateY(100px) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  100% {
    transform: translateY(100px) translateX(-50%);
  }
}
