$media: (
  2xs: 375px,
  xs: 480px,
  sm: 640px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  2xl: 1536px,
);

@mixin rwd($breakpoint) {
  @if map-has-key($media, $breakpoint) {
    $point: map-get($media, $breakpoint);

    @media (max-width: $point) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}
