:root {
  --Mobile-Border: black;
  --Dark: #22252d;
  --Dark-Blue: #292d38;
  --White: #f9f9f9;
  --Blue: #40b3da;
  --Green: #18d2b4;
  --Gray: #f0f0f0;
  --Text: #2c2a2a;
  --Background-Green: rgba(106, 154, 158, 0.8);
  --Background: var(--White);
  --Previous: rgba(44, 42, 4, 0.7);
  --Button-Container: var(--Gray);
}
.dark {
  --Text: var(--White);
  --Background: var(--Dark);
  --Previous: rgba(250, 250, 250, 0.7);
  --Button-Container: var(--Dark-Blue);
}
